/* style.css */

/* Body Styles */
:root {
  font-size: 16px;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  background-color: Ivory;
  color: DarkGreen;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
header h1 {
  margin-left: 40px;
  color: yellow;
  transition: transform 0.8s ease;
  cursor: pointer;
}
header h1:hover {
  transform: scale(1.2);
}

h1 {
  color: Ivory;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 40px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  transition: color 0.3s ease;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: ivory;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover {
  color: ivory;
}

nav ul li a:hover::after {
  transform: scaleX(1);
}

/* Main Content Styles */
main {
  padding: 20px;
}

h2 {
  color: DarkGreen;
}

p {
  margin-bottom: 20px;
}

.background {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  position: relative;

  height: 100vh;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.pexels.com/photos/2832034/pexels-photo-2832034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
}

.main-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: Ivory;
}

.main-content h2,
.main-content p {
  margin-bottom: 20px;
}

#container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: yellow;
  margin: 25vh 100px;
}

#btn_1 {
  border: 2px solid transparent;
  background-color: yellow;
  color: darkgreen;
  display: flex;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}
#btn_1:hover {
  background-color: transparent;
  border: 2px solid ivory;
  color: ivory;
}
.middle {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 50px;
  top: 100vh;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 0px 2px 5px gray;
  background-color: ivory;
  border-radius: 50px;
  padding: 5px 50px;
}
.middle span {
  text-align: center;
  font-weight: bold;
  width: 100%;
  padding: 0px;
}
.middle span div {
  color: darkgreen;
  font-size: 1.2rem;
  padding: 5px 0px;
}
.divider {
  height: 100%;
  width: 5px;
  background-color: gray;
}
.help {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  color: yellow;
  background-color: darkgreen;
  box-shadow: 0px 2px 5px gray;
  border-radius: 50%;
  top: 90vh;
  left: 93vw;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: +1;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.help:hover {
  background-color: ivory;
  color: darkgreen;
  transform: scale(1.2);
}
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background-color: darkgreen;
  box-shadow: 0px 2px 5px gray;
  top: 50vh;
  left: -1.5vw;
  position: fixed;
  width: 50px;
  height: 150px;
  border-radius: 15px;
  z-index: +1;
}
#changing-text {
  height: 100px;
  overflow: hidden;
}

/* Footer Styles */
footer {
  background-color: DarkGreen;
  color: Ivory;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
